$naranja: #ff7f00;
$verde: #38a900;
$azul: #3880ff;

ion-toolbar {
  --background: #39a900;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .boton-menu {
      margin-right: 50%;
    }

    .nombre {
      margin: auto;
      width: 55%;
    }

    .menu {
      margin: auto;
      margin-left: 55%;
    }
  }
}

.container {
  display: grid;
  place-content: center;

  ion-card {
    overflow: auto;
    width: 90vw;
    height: 88vh;
    box-shadow: 2px 2px 15px #87837f;
    @media screen and (max-height: 500px) {
      height: auto;
    }

    ion-card-header {
      display: grid;
      place-content: center;
      color: white !important;

      ion-card-title {
        font-size: 1.3rem !important;
      }

      @media screen and (max-width: 355px) {
        h1 {
          font-size: 1rem;
        }
      }

      
    }

    ion-card-content {
      display: grid;
      place-items: center;
      width: 100%;
      margin: 0;
      padding: 0;

      .foto {
        width: 60%;
        height: 40vh !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .calendar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
      }

      .descripcion {
        overflow: auto;
        padding: 1rem;
      }
    }
  }
}
