@font-face {
  font-family:orbil_Berlin;
  src: url("../../../assets/fonts/BerlinSansFBDemiBold.ttf");
}

$naranja: #ff7f00;
$verde: #38A900;
$azul: #3880ff;

ion-toolbar {
  --background: #39A900;

  .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

    .boton-menu{
      margin-right: 50%;
    }

    .nombre {
      margin: auto;
      width: 55%;  
    }

    .logo {
      margin: auto;
      margin-left: 65%;
      width: 25%;
    }
  }
}

.container{
  text-align: center;
  
  ion-card {
    padding: 2%;
    box-shadow: 2px 2px 20px #87837f ;
  
    ion-card-header {
      font-family: orbil_Berlin;
      display: grid;
      place-items: center;
      background-color: $azul;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: aliceblue !important;
        
      h1 {
        margin: 0;
      }
    }
  
    ion-card-content {
      display: grid;
      place-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
  
      .proyector {
        width: 55%;
        margin-top: 15%;
        margin-bottom: 15%;
      }
  
      .calendar {
        display: flex;
        align-items: center;
        padding: 1em;
  
        h2 {
          float: left;
          margin: 0;
          padding: 0;
        }
      }
  
      .select {
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 0;
        margin-right: 0;
      }
  
      ion-button {
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }
  
  }
}
  
.fab-button {
  position: absolute;
  position: fixed;
  box-shadow: 4px 4px 20px #87837f ;
  border-radius: 50%;
  top: 85%;
  left: 75%; 
}