<ion-header>
  <ion-toolbar>
    <div class="items-toolbar">
      <ion-back-button class="boton-menu" mode="md" color="light" defaultHref="/home"></ion-back-button>
      <ion-img class="nombre" src="../assets/pictures/OrbilText.svg"></ion-img>
      <ion-menu-button menu="main-menu" color="light" class="menu"></ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <h2>Reserva del proyector</h2>
    </ion-card-header>

    <ion-card-content>
      <ion-img class="proyector-img" src="../../../assets/pictures/proyector.png"></ion-img>

      <!-- Formulario que obtendra los datos a reservar -->
      <form [formGroup]="form" (ngSubmit)="confirmReserve()">
        <div class="calendar-modal">
          <h2> Elige una fecha: &nbsp; </h2>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime #datetime id="datetime" formControlName="fecha" name="fecha" color="v-claro" presentation="date"
                min="{{fecha_hoy | date: 'YYYY-MM-dd'}}" max="2026-12-30T23:59:59" display-format="YYYY-MM-dd" locale="es-ES"
                (ionChange)="datetime.confirm(true);" [isDateEnabled]="cancelarFinDeSemana">
                <span slot="title"> Elige la fecha a reservar </span>
              </ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <!-- Select de proyector que sera reservado -->
        <ion-item lines="none">
          <ion-select placeholder="Seleccione proyector" formControlName="serial" [interfaceOptions]="header_proyector">
            <ion-select-option *ngFor="let pro of proyector" value="{{pro.Pk_Elemento}}">
              {{pro.Nombre_Elemento}}
            </ion-select-option>
            <ion-select-option *ngIf="proyector.length == 0" disabled>
              No hay proyectores para mostrar
            </ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Jornada en la que sera reservado -->
        <ion-item lines="none">
          <ion-select formControlName="jornada" placeholder="Seleccione jornada" name="jornada"
            [interfaceOptions]="header_jornada">
            <ion-select-option value="Mañana"> Jornada mañana </ion-select-option>
            <ion-select-option value="Tarde"> Jornada tarde </ion-select-option>
            <ion-select-option value="Completo"> Jornada Completa </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Lugar donde sera usado:</ion-label>
          <ion-input class="sitio" type="text" formControlName="sitio"></ion-input>
        </ion-item>
      </form>

      <h5 class="nombre-usuario"> A nombre de {{usuario}}</h5>

      <!-- Boton para realizar la reserva -->
      <ion-button shape="round" size="default" fill="solid" strong="strong" color="v-claro" (click)="confirmReserve()"
        [disabled]="!form.valid">
        Reservar
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>