<ion-header>
  <ion-toolbar color="orange">
    <ion-back-button class="boton-menu" mode="md" color="light" defaultHref="/home"></ion-back-button>
    <ion-img class="nombre" src="../assets/pictures/OrbilText.svg"></ion-img>
    <ion-img class="logo" src="../../assets/pictures/logo_orange.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="box">
    <h2 class="centrar">Reserva del proyector</h2>
    <ion-img class="proyector" src="../../../assets/pictures/proyector.svg"></ion-img>

      <!-- "form" toma todos los datos que tiene insternamente y los envia a la función ReservaProyector -->
    <form [formGroup]="form" (ngSubmit)="ReservaProyector()">

      <ion-item>
        <ion-select placeholder="Seleccione proyector" formControlName="serial">
          <ion-select-option *ngFor="let pro of proyector" value="{{pro.Pk_Elemento}}">
            {{pro.Nombre_Elemento}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select formControlName="jornada" placeholder="Seleccione jornada" name="jornada">
          <ion-select-option  value="Mañana">
          Jornada mañana
          </ion-select-option>

          <ion-select-option value="Tarde">
            Jornada tarde
          </ion-select-option>
        </ion-select>
      </ion-item>

      <div class="calendar">
        <h5 style="margin-bottom: 2.5%;"> Elige una fecha <ion-icon name="arrow-down-outline"></ion-icon> </h5>
        <ion-datetime-button datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" formControlName="fecha" name="fecha" color="verde"
            presentation="date" min="{{fechaHoy | date: 'YYYY-MM-dd'}}" max="2024-12-30T23:59:59"
            display-format="YYYY-MM-dd" [isDateEnabled]="cancelarFinDeSemana" mode="md" 
            style="color: rgb(136, 107, 107) !important;" [showDefaultButtons]="true">
            <span slot="title"> Elige la fecha a reservar </span></ion-datetime>
          </ng-template>
        </ion-modal>
      </div>
      
      <ion-input class="sitio" type="text" placeholder="¿Donde?" formControlName="sitio" ></ion-input>
            
      <ion-button shape="round" size="default" fill="solid" strong="strong"
        color="orange" (click)="ReservaProyector()" [disabled]="!form.valid">Reservar
      </ion-button>
      
    </form>
  </div>

</ion-content>
