
    // <--- Los estilos del la barra superior del App --->
ion-toolbar{

    .icono{
        float: right;
        width:10%;
        margin-top:3%;
        margin-right: 3%;
        margin-bottom: 1%;
    }

    .nombre{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 70px;
        margin-left: 30%;
        margin-right: 20%;
    }
}
    // <--- Color de la barra superior --->
    .arriba{
        --background: linear-gradient(45deg, rgb(254, 147, 23) 0%, rgba(255,127,0,1) 100%) !important;
    
    }

    // <--- Los estilos del la barra superior del App --->
    .container{
        position: relative;
    }
    
    .box{
        position: relative;
        margin: 5%;
        border-radius: 10px;
        border: 3px solid #87837f !important;
        box-shadow: -3px 3px 8px gray;
        padding-bottom: 20%;
        overflow: hidden;
    }

    .centrar{
        text-align: center;
    }

    .proyector{
        margin-top: 15%;
        margin-bottom: 10%;
        margin-left: 19%;
        margin-right: 19%;
        width: 60%;
    }

    .sitio{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        width: auto;
        border-radius: 20px !important;
        font-size: 1em;
        border: 2px solid #000000 !important;
        text-align:center;
        --background: rgb(188, 188, 188) !important;
    }

    ion-button{
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 5%;
        width: 40%;
    }

    @media (max-width: 300px) {
        ion-toolbar{

            .icono{
                float: right;
                width:12%;
                margin-top:3%;
                margin-right: 3%;
                margin-bottom: 1%;
            }
    
            .nombre{
                margin-top: 5%;
                margin-bottom: 5%;
                width: 55px;
                margin-left: 30%;
                margin-right: 20%;
            }
        }

        .centrar{
            font-size: 20px;
        }

        .proyector{
            margin-top: 5%;
            margin-left: 25%;
            margin-right: 25%;
            margin-bottom: 5%;
            width: 50%;
        }

        ion-button{
            font-size: 12px;
        }
    }

    @media (min-width: 400px) {
        .proyector{
            margin-top: 5%;
            margin-left: 25%;
            margin-right: 25%;
            margin-bottom: 5%;
            width: 50%;
        }
    }