<ion-header> <!-- Encabezado del App en ambiente -->
  <ion-toolbar>
    <div class="items">
      <ion-back-button class="boton-menu" mode="md" color="light" defaultHref="/home"></ion-back-button>
      <ion-img class="nombre" src="../assets/pictures/OrbilText.svg"></ion-img>
      <ion-menu-button menu="main-menu" color="light" class="menu"></ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf='noFile == true'> No tiene reservas vigentes</ion-item>
  <div class="container">
    <ion-list *ngFor="let elem of elementos" class="info" lines="inset" >
      <ion-item id={{elem.Estado_Mv}}>
        <ion-thumbnail slot="start">
          <img src={{elem.Imagen}} loading="lazy">
        </ion-thumbnail>
        <ion-label>
          <h1> {{elem.Tipo_Elemento}}</h1>
          <h2 class={{elem.Estado_Mv}}>{{elem.Estado_Mv}}</h2>
          <p> Nombre:&nbsp;{{elem.Nombre_Elemento}} </p>
          <ion-button *ngIf='elem.Estado_Mv == "Solicitud"' color="danger" 
          (click)="cancelReserveAlert(elem.Pk_Movimiento)">
            Cancelar reserva
          </ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>
