<ion-content>
    <!-- Items -->
    <div class="items"> 
      
      <!-- Logo --> 
      <ion-img class="logo" src="../../assets/pictures/icono.svg"></ion-img> 
      
      <!--Formulario -->
      <form [formGroup]="form" (ngSubmit)="ValidacionDeDatos()"> 
        <ion-grid fixed>
            
            <!--Entrada de texto para el usuario -->
          <div class="inputs">
            <ion-item class="input1" mode="md"> 
              <ion-label position="floating">Usuario</ion-label>
              <ion-input type="number" clearInput formControlName="user" name="user"></ion-input>
            </ion-item>  
            
            <!-- Entrada de texto para contraseña -->
            <ion-item class="input2" mode="md"> 
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" clearInput formControlName="pass"
              name="pass" ></ion-input>
            </ion-item>
          </div>
            <!--Cualidades del boton -->
          <ion-button type="submit" [disabled]="!form.valid" size="default" fill="solid"
                      strong="strong" color="light" class="boton"> Ingresar 
          </ion-button>
        </ion-grid>
      </form>

    <!-- Animación -->
    <div class="ocean"> 
      <div class="wave circulo a"></div>
      <div class="wave circulo b"></div>
      <div class="wave circulo c"></div>
    </div> 

  </div> <!-- Items -->
</ion-content>