#subcontainer {
  text-align: center;
  position:relative;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  margin-bottom: 100%;
}

#subcontainer strong {
  font-size: 20px;
  line-height: 26px;
}

#subcontainer p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

ion-img {
  width: 60%;
  margin-right:20%;
  margin-left:20%;
  margin-top:10%;
  margin-bottom:1%;
  padding: 1%;
}

.inputs{
  margin-left: 1%;
  margin-right: 1%;
  width: auto;
  border-radius: 30px; 
  margin-bottom: 2%;
}


.container {
  overflow: hidden;
  height: 100.1%;
  background: #ff7f00;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.waves {
  position: absolute;
  bottom: -135px;
  height: 380px;
  width: 100%;
  overflow: hidden;
}
.wave {
  position: absolute;
  left: -180px;
  bottom: 0;
  width: 2402px;
  height: 340px;
  background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png) center bottom no-repeat;
  animation: 5s wave ease-in-out infinite alternate;
}
.wave.a {
  background-position: 0 -854px;
}
.wave.b {
  background-position: 0 -427px;
  animation-delay: .6s;
}
.wave.c {
  background-position: 0 0;
  animation-delay: 1.2s;
}

@keyframes wave {
  0% {
    transform: translate(0 , 0);
  }
  50% {
    transform: translate(-80px, 30px);
  }
  100% {
    transform: translate(160px, -60px);
  }
} 
