<ion-content [fullscreen]="true">
    <!-- Items -->
    <div class="items"> 
      
      <!-- Logo --> 
      <div class="logo">  
        <img src="../../assets/pictures/icono.svg">
      </div>
      
      <!--Formulario para el login-->
      <form [formGroup]="form" (ngSubmit)="ValidacionDeDatos()">             
        <div class="inputs">
          <ion-item class="input1" mode="md" lines="none"> 
            <ion-input type="number" clearInput formControlName="user" name="user" placeholder="Usuario"></ion-input>
          </ion-item>  
            
            <!-- Entrada de texto para contraseña -->
          <ion-item class="input2" mode="md" lines="none"> 
            <ion-input type="password" clearInput formControlName="pass" name="pass" placeholder="Contraseña" ></ion-input>
          </ion-item>
        </div>
          <!--Cualidades del boton -->
        <ion-button type="submit" [disabled]="!form.valid" size="default" fill="solid"
          strong="strong" color="orange" class="boton" shape="round"> Ingresar 
        </ion-button>
      </form>

    <!-- Animación -->
    <div class="ocean"> 
      <div class="wave circulo a"></div>
      <div class="wave circulo b"></div>
      <div class="wave circulo c"></div>
    </div> 

  </div> <!-- Items -->
</ion-content>