
$url: 'https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png';
$naranja: #ff7f00;

@mixin input($tall:auto, $short:auto, $letter:medium) {
  width: $short;
  height: $tall;
  font-size: $letter;
  margin-top: 1%;
  margin-bottom: 2%;
  border-radius: 30px;
}

.items {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: $naranja;
  position: fixed;

  .logo {
    width: 50%;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-right: 25%;
    margin-left: 25%;
  }
  
  .inputs {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

    .input1 { @include input();}
    .input2 { @include input();}
  }

  .boton{
    position: relative;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-1%);
  }

  .ocean {
    position: absolute;
    overflow: hidden;
    height: 45%;
    width: 100%;
    bottom: -20%;

    .wave {
      background: url($url) center bottom no-repeat;
      animation: 5s efect ease-in-out infinite alternate;
      position: absolute;
      width: 2400px;
      height: 370px;
      bottom: 0;
      left: -60%;
    }
      .wave.a {
        background-position: 0 -854px;
      }
      .wave.b {
        background-position: 0 -427px;
        animation-delay: .6s;
      }
      .wave.c {
        background-position: 0 0;
        animation-delay: 1.2s;
      }

    @keyframes efect {
      0% {transform: translate(0 , 0); }
      50% { transform: translate(-80px, 30px);}
      100% { transform: translate(160px, -60px);}
    } 
  }
}

@media (min-height: 200px) and (max-height: 450px) {
  .items { 
    .logo { width: 40%; 
            margin-top: 5%;
            margin-left: 30%;
            margin-right: 30%;
          }
    .inputs {
      .input1 { @include input($tall:35px, $letter: x-small);}
      .input2 { @include input($tall:35px, $letter: x-small);}
    }
    .ocean { .wave { height: 200px; left: -180%; } }
  }
}

@media (min-height: 450px) and (max-height: 500px) {
  .items { 
    .logo { width: 40%; 
            margin-top: 5%;
            margin-left: 30%;
            margin-right: 30%;
          }
    .inputs {
      .input1 { @include input($tall:45px, $letter: small);}
      .input2 { @include input($tall:45px, $letter: small);}
    }
    .ocean { .wave { height: 220px; left: -90%; } }
  }
}

@media (min-height: 500px) and (max-height: 700px) {
  .items { 
    .logo { width: 40%; 
            margin-top: 15%;
            margin-left: 30%;
            margin-right: 30%;
          }
    .inputs {
      .input1 { @include input($tall:45px, $letter: small);}
      .input2 { @include input($tall:45px, $letter: small);}
    }
    .ocean { .wave { height: 280px; left: -90%; } }
  }
}

@media (min-height: 750px) and (max-height: 950px) {
  .items { 
    .logo { width: 50%; 
            margin-top: 25%;
            margin-left: 25%;
            margin-right: 25%;
          }
    .inputs {
      .input1 { @include input($tall:70px, $letter: larger);}
      .input2 { @include input($tall:70px, $letter: larger);}
    }
    .ocean { .wave { height: 380px; left: -90%; } }
  }
}