@font-face {
  font-family:orbil_Berlin;
  src: url("../../../../assets/fonts/BerlinSansFBDemiBold.ttf");
}

ion-toolbar {
  --background: #39A900;

  .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

    .boton-menu{
      margin-right: 50%;
    }

    .nombre {
      margin: auto;
      width: 55%;  
    }

    .logo {
      margin: auto;
      margin-left: 65%;
      width: 25%;
    }
  }
}

.lists {
  display: grid;
  padding: 2%;

  ion-card {
    position: relative;
    text-align: center;
    border: 1.5px solid #87837f !important;
    box-shadow: 4px 4px 20px #87837f ;
    font-family: orbil_Berlin;
    font-size: 2.4rem;
    padding: 1%;

    ion-card-content{
      margin: 2%;
      height: 100%;
      background-color: #428cff !important;
      color: aliceblue !important;
      text-align: center;
      padding-top: 5%;
      padding-bottom: 6%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

  }
}