
$naranja: #ff7f00;

ion-toolbar {
    position: relative;

    .boton-menu {
      float: left;
      position: absolute;
      width: 18%;
      top: 50%;
      left: 7%;
      transform: translate(-50%, -50%); 
    }
  
    .nombre {
      position: absolute;
      width: 18%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);     
    }
  
    .logo {
      float: right;
      position: absolute;
      width: auto;
      top: 50%;
      left: 93%;
      transform: translate(-50%, -50%); 
    }
}

h1 {
    font-size: 1.4rem;
}

@media ( max-width: 300px) {

    ion-toolbar {
    

    .nombre{
        margin-top: 5%;
        margin-bottom: 5%;
        width: 55px;
        margin-left: 30%;
        margin-right: 20%;
    }
    
    .icono{
        float: right;
        width:13%;
        margin-top:3%;
        margin-right: 3%;
        margin-bottom: 2%;
    }
    }

    h1{ 
        font-size: 20px;
    }
    
}