@font-face {
  font-family: orbil_Berlin;
  src: url("../../../assets/fonts/BerlinSansFBDemiBold.ttf");
}

$naranja: #ff7f00;
$verde: #38a900;
$azul: #3880ff;

ion-toolbar {
  --background: #39a900;

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .boton-menu {
      margin-right: 50%;
    }

    .nombre {
      margin: auto;
      width: 55%;
    }

    .menu {
      margin: auto;
      margin-left: 55%;
    }
  }
}

ion-content {
  display: grid;

  ion-card {
    width: 90vw;
    height: 88vh;
    margin: 2vh auto 1vh auto;
    box-shadow: 2px 2px 15px #87837f;
    @media screen and (max-height: 500px) {
      height: auto;
    }

    ion-card-header {
      display: grid;
      place-content: center;
      font-family: orbil_Berlin;
      background-color: $verde;
      color: white !important;
      @media screen and (max-width: 355px) {
        h1 {
          font-size: 1rem;
        }
      }
    }

    ion-card-content {
      display: grid;
      place-items: center;
      text-align: center;
      width: 100%;

      .computador {
        width: 60%;
        margin-top: 5%;
        margin-bottom: 5%;

        @media screen and (max-height: 680px) {
          width: 45%;
        }
      }

      .calendar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 7%;

        h2 {
          margin: auto;
          margin-right: -5%;
        }

        ion-datetime-button {
          margin: auto;
          margin-left: 5%;
        }
      }

      .cantidad {
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 0;
        margin-right: 0;
      }

      ion-button {
        margin-top: 10%;
        margin-bottom: 10%;
      }
    }
  }
}
