
$naranja: #ff7f00;

ion-toolbar {
    position: relative;

    .boton-menu {
      float: left;
      position: absolute;
      width: 18%;
      top: 50%;
      left: 7%;
      transform: translate(-50%, -50%); 
    }
  
    .nombre {
      position: absolute;
      width: 18%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);     
    }
  
    .logo {
      float: right;
      position: absolute;
      width: auto;
      top: 50%;
      left: 93%;
      transform: translate(-50%, -50%); 
    }
}

.container{
    position: relative;
    margin: 5%;
    border-radius: 10px;
    border: 3px solid #87837f !important;
    box-shadow: -3px 3px 8px gray;
    padding-bottom: 20%;
    overflow: hidden;

    .centrar{
        text-align: center;
    }

    
    .computador{
        margin-top: 15%;
        margin-bottom: 10%;
        margin-left: 15%;
        width: 65%;
    }

    
    .calendar{
        margin-top: 5%;
        margin-left: 9%;
        margin-right: 9%;
        margin-bottom: 5%;
        width: auto;

        .text {
            margin-top: 2%;
            margin-right: 10%;
            margin-left: 10%;
        } 


    }

    .cantidad{
        margin-top: 5%;
        margin-left: 9%;
        margin-right: 9%;
        width: 80%;
        border-radius: 20px !important;
        border: 2px solid #000000 !important;
        text-align:center;

        ion-input {
            margin-left: 20%;
            width: 60%;
            //--background: rgb(188, 188, 188) !important;
        } 
         
    }

    ion-button{
        margin-top: 10%;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 5%;
        width: 40%;
    }

}

@media (max-width: 300px) {

    .arriba{
        --background: linear-gradient(45deg, rgb(254, 147, 23) 0%, rgba(255,127,0,1) 100%) !important;
        
        .nombre{
            margin-top: 5%;
            margin-bottom: 5%;
            width: 55px;
            margin-left: 30%;
            margin-right: 20%;
        }
    
        .icono{
            float: right;
            width:10%;
            margin-top:3%;
            margin-right: 4%;
            margin-bottom: 1%;
        }
    }

    .calendar{

        margin-top: 5%;
        margin-left: 9%;
        margin-right: 9%;
        margin-bottom: 5%;
        width: auto;

        .text {
         font-size: 14px;
        } 

    }

    ion-button{
        margin-top: 10%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 5%;
        width: 50%;
        font-size: 12px;
    }

    
}