<ion-header>
  <ion-toolbar>
    <div class="items">
      <ion-back-button class="boton-menu" mode="md" color="light" defaultHref="/home"></ion-back-button>
      <ion-img class="nombre" src="../assets/pictures/OrbilText.svg"></ion-img>
      <ion-menu-button menu="main-menu" color="light" class="menu"></ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <!-- Titulo del card de computadores -->
      <ion-card-header>
        <h1>Reserva de computador</h1>
      </ion-card-header>

      <!-- Contenedor del card de computadores -->
      <ion-card-content>

        <!-- Imagen de computador-->
        <ion-img class="computador" src="../../../assets/pictures/computer.png"></ion-img>

        <!-- Cantidad disponible que se muestra -->
        <h2>Cantidad disponible: {{computadores_cantidad}}</h2>

        <!-- Formulario que toma los datso que seran enviados al Api para su validación -->
        <form [formGroup]="form" (ngSubmit)="reserveComputer()">
          <!-- Contenedor del calendario -->
          <div class="calendar">
            <h2> Elige una fecha: &nbsp;</h2>
            <!-- Boton para desplegar el calendario -->
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <!-- DatePicker con restricciones donde se tomara la fecha de la reserva -->
                <ion-datetime id="datetime" formControlName="fecha" name="fecha" color="v-claro" presentation="date"
                  (ionChange)="filtradoPorDia($event)" min="{{fecha_hoy | date: 'YYYY-MM-dd'}}"
                  max="2026-12-30T23:59:59" display-format="YYYY-MM-dd" [isDateEnabled]="cancelarFinDeSemana"
                  [showDefaultButtons]="true" doneText="Aceptar" cancelText="Cancelar"
                  style=" width: auto; color: rgb(136, 107, 107) !important; width: 90vw !important;">
                  <span slot="title"> Elige la fecha a reservar </span>
                </ion-datetime>
              </ng-template>
            </ion-modal>
          </div>

          <!-- Vinculo a el modal del listado de los computadores -->
          <ion-list [inset]="true">
            <ion-item [button]="true" [detail]="false" id="select-computadores" disabled="{{computadores_permiso}}">
              <ion-label>Computadores Elegidos</ion-label>
              <div slot="end" id="selected-fruits">{{ selectedComputerText }}</div>
            </ion-item>
          </ion-list>

          <!-- Etiqueta que muestra el nombre de quien reserva -->
          <h5> A nombre de {{usuario}}</h5>

          <!-- Boton para activar la función de reservar -->
          <ion-button shape="round" size="default" fill="solid" strong="strong" color="v-claro"
            (click)="reserveComputer()" [disabled]="!form.valid"> Reservar
          </ion-button>
        </form>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Modal que se muestra cuando se quieren elegiurt los computadores -->
<ion-modal trigger="select-computadores" #modal>
  <ng-template>
    <!-- Listado de los computadores disponibles -->
    <app-lista class="ion-page" title="Computadores" [items]="computadores_muestra" [selectedItems]="selectedComputer"
      (selectionChange)="computerSelectionChanged($event)" (selectionCancel)="modal.dismiss()">
    </app-lista>
  </ng-template>
</ion-modal>