<ion-header>
  <ion-toolbar color="orange">
    <ion-back-button class="boton-menu" mode="md" defaultHref="/home"></ion-back-button>
    <ion-img class="nombre" src="../assets/pictures/OrbilText.svg"></ion-img>
    <ion-img class="logo" src="../../assets/pictures/logo_orange.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="container">
    <h2 class="centrar">Portatiles</h2>
    <ion-img class="computador" src="../../../assets/pictures/img_portatil.svg"></ion-img>
    <div class="centrar"><p>Cantidad disponible: </p></div>

    <form [formGroup]="form" (ngSubmit)="ReservarComputador()">

      <div class="calendar">
      <p class="text">Elige una fecha <ion-icon name="arrow-down-outline"></ion-icon></p>
  
      <!-- Esta etiqueta con lo demás se encarga de desplegar el calendario-->
      <ion-datetime-button datetime="datetime" ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" formControlName="fecha" name="fecha" color="verde"
            presentation="date" min="{{fechaHoy | date: 'YYYY-MM-dd'}}" max="2023-12-30T23:59:59"
            display-format="YYYY-MM-dd" [isDateEnabled]="cancelarFinDeSemana"  mode="ios"
            style="background-color: rgb(54, 54, 54) !important;" >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </div> 

      <div class="cantidad">
        <ion-input type="number" placeholder="Cantidad" formControlName="cantidad" min="1" max="21"></ion-input>
      </div>
              
      <ion-button shape="round" size="default" fill="solid" strong="strong"
        color="orange" (click)="ReservarComputador()" [disabled]="!form.valid"> Reservar
      </ion-button>
            
    </form>
  </div>

</ion-content>
