<ion-header>
  <ion-toolbar>
    <div class="items">
      <ion-back-button class="boton-menu" mode="md" color="light" defaultHref="/home"></ion-back-button>
      <ion-img class="nombre" src="../assets/pictures/OrbilText.svg"></ion-img>
      <ion-img class="logo" src="../../assets/pictures/logo_orange.svg"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <h1>Reserva de computador</h1>
      </ion-card-header>

      <ion-card-content>

        <ion-img class="computador" src="../../../assets/pictures/img_portatil.svg"></ion-img>
        <h2>Cantidad disponible: </h2>
    
        <form [formGroup]="form" (ngSubmit)="ReservarComputador()">
    
          <div class="calendar">
            <h2 style="margin-right: 1%;"> Elige una fecha: </h2>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" formControlName="fecha" name="fecha" color="primary"
                presentation="date" min="{{fechaHoy | date: 'YYYY-MM-dd'}}" max="2024-12-30T23:59:59"
                display-format="YYYY-MM-dd" [isDateEnabled]="cancelarFinDeSemana" mode="md" [showDefaultButtons]="true" 
                style=" width: auto; margin: 1%; color: rgb(136, 107, 107) !important;">
                <span slot="title"> Elige la fecha a reservar </span></ion-datetime>
              </ng-template>
            </ion-modal>
          </div> 
    
          <ion-item class="cantidad">
            <ion-label position="floating">Cantidad a pedir: </ion-label>
            <ion-input type="number" formControlName="cantidad"></ion-input>
          </ion-item>

          <h5> A nombre de {{nombre}}</h5>

          <ion-button shape="round" size="default" fill="solid" strong="strong"
            color="primary" (click)="ReservarComputador()" [disabled]="!form.valid"> Reservar
          </ion-button>
                
        </form>
      </ion-card-content>
    </ion-card>

  </div>

  <div class="call-menu"><ion-menu-button menu="main-menu" color="light"></ion-menu-button></div>

</ion-content>
