<ion-header> <!-- Encabezado del App en ambiente -->
  <ion-toolbar>
    <div class="items">    
      <ion-back-button class="boton-menu" mode="md" color="light" defaultHref="/home"></ion-back-button>   
      <ion-img class="nombre" src="../assets/pictures/OrbilText.svg"></ion-img>    
      <ion-img class="logo" src="../../assets/pictures/logo_orange.svg"></ion-img>    
    </div>
  </ion-toolbar>
</ion-header>

<ion-content> <!-- Contenido interior del App -->
  <div class="container">
    <ion-card> <!-- Card que contiene los items -->
      <ion-card-header>
        <h1>Reserva del ambiente</h1>
      </ion-card-header>

        <!-- Contenido del card con el formulario e imagen -->
      <ion-card-content>
        <ion-img class="ambiente" src="../assets/pictures/ambiente.svg"></ion-img>
        <form [formGroup]="form" (ngSubmit)="Reserve()">

            <!-- Modal con el calendario de días a elegir -->
          <div class="calendar">
            <h2 style="margin-right: 1%;"> Elige una fecha: </h2>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" formControlName="fecha" name="fecha" color="primary"
                presentation="date" min="{{fechaHoy | date: 'YYYY-MM-dd'}}" max="2024-12-30T23:59:59"
                display-format="YYYY-MM-dd" [isDateEnabled]="cancelarFinDeSemana" mode="md" [showDefaultButtons]="true" 
                style=" width: auto; margin: 1%; color: rgb(136, 107, 107) !important;">
                <span slot="title"> Elige la fecha a reservar </span></ion-datetime>
              </ng-template>
            </ion-modal>
          </div>

            <!-- Opciones de jornada a elegir por el usuario -->
          <ion-item class="select" lines="none">
            <ion-select formControlName="jornada" placeholder="Seleccione jornada" 
                        mode="ios" name="jornada" interface="action-sheet"  [interfaceOptions]="select_header">
              <ion-select-option value="Mañana"> Jornada mañana </ion-select-option>
              <ion-select-option value="Tarde"> Jornada tarde </ion-select-option>
            </ion-select>
          </ion-item>
          
          <h5 class="centrar"> A nombre de {{nombre}}</h5>

            <!-- Boton para enviar los datos del formulario -->
          <ion-button shape="round" size="default" fill="solid" strong="strong"
          color="primary" (click)="confirmReserve()" [disabled]="!form.valid"> Reservar
          </ion-button>
        </form>
  
      </ion-card-content>
    </ion-card> <!-- Fin del card -->
  </div>

    <!-- Boton del menu desplegable -->
  <ion-fab class="fab-button">
    <ion-fab-button color="verde">
      <ion-menu-button menu="main-menu" color="light"></ion-menu-button>
    </ion-fab-button>
  </ion-fab>

</ion-content>