ion-menu::part(backdrop) {
    background-color: rgba(114, 110, 101, 0.5);
  }
  
ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  box-shadow: 4px 0px 16px rgba(124, 119, 109, 0.18);
}

@mixin just ( $tall: auto, $short: auto, $letter: auto ){
  height: $tall;
  width: $short;
  font-size: $letter;
}

.container{
  overflow: hidden;

  .menu-header {
    background: rgb(253, 210, 131);
    background: linear-gradient(90deg, rgb(255, 207, 118) 0%, orange 100%);
    @include just(130px, 150%);
    margin-top: -58px;
    margin-bottom: 60px;
    margin-left: -18px;
    border-radius: 10px 10px 10px 50px;
    transform: rotate(-15deg);
    box-shadow: 0px 1px 10px rgba(255, 226, 98, 0.5);
  }
  
  .header-content {
    position: absolute;
    top: 3%;
    left: 5%;
    display: flex;
    align-items: center;
    color: #ffff;
  
    img {
      width: 25%;
      height: 25%;
      margin-right: 10%;
      border-radius: 50px;
      border: 4px solid orange;
    }
  }
  
  .menu-items{
    .title {
      margin: 0;
      @include just($letter: small);
    }
    ion-item {
      width: 80%;
      padding-left: 20px;
      margin-bottom: 10px;
      font-size: small;

      ion-icon {
        width: 10%;
        margin-right: 5%;
        color: rgb(253, 185, 59);
      }
    }

    .active {
      border-left: 5px solid;
      color: orange;
      padding-left: 15px;
  
      ion-icon {
       color: orange;
      }
    }
  }
}