<div class="container">
  <div class="menu-header"></div>
  <div class="header-content">
    <img src="../../../assets/pictures/logo_app.svg" alt="">
  </div>
  
  <ion-list class="menu-items" lines="none">
    <ion-item class="title"><strong> Indice </strong></ion-item>
      <ion-item class="active" (click)="otherPage('home')"><ion-icon name="home-outline"></ion-icon> Inicio </ion-item>
      <ion-item (click)="otherPage('categorias')"><ion-icon name="library-outline"></ion-icon> Libros </ion-item>
      <ion-item (click)="otherPage('computador')"><ion-icon name="laptop-outline"></ion-icon> Portatil </ion-item>
      <ion-item *ngIf='permiso == true' (click)="otherPage('proyector')"><ion-icon name="videocam-outline"></ion-icon> Proyector </ion-item>
      <ion-item *ngIf='permiso == true' (click)="otherPage('ambiente')"><ion-icon name="storefront-outline"></ion-icon> Ambiente </ion-item>
  </ion-list>

  <ion-list class="menu-items" lines="none">
    <ion-item class="title"><strong> Otros </strong></ion-item>
      <ion-item><ion-icon name="notifications-outline"></ion-icon> Permisos </ion-item>
      <ion-item><ion-icon name="folder-outline"></ion-icon> Historial </ion-item>
  </ion-list>

  <ion-footer class="menu-items">
    <ion-item lines="none"><ion-icon name="alert-circle-outline"></ion-icon> Manual de usuario </ion-item>
    <ion-item (click)="logout()" lines="none"><ion-icon name="exit-outline"></ion-icon> Cerrar sesión </ion-item>
  </ion-footer>
</div>