ion-toolbar {
  --background: #39a900;
  color: aliceblue;

  ion-searchbar {
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .items {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;

    .titulo {
      margin: auto;
    }

    .menu {
      margin: auto;
      margin-right: 5%;
    }
  }
}

.search {
  grid-template-columns: 1fr 1fr;
}

ion-card {
  margin: 1rem;
  box-shadow: 2px 2px 5px gray;

  ion-card-header {
    ion-card-title {
      font-size: 1.2rem;
    }
  }
}
