<ion-header>
  <ion-toolbar>
      <ion-back-button mode="md" class="boton-menu" defaultHref="/categorias"></ion-back-button>
      <ion-title mode="ios" class="titulo">{{titulo_cat}}</ion-title>
      <ion-img class="logo" src="../../assets/pictures/logo_orange.svg"></ion-img>
  </ion-toolbar>
  <ion-toolbar >        <!-- Esta es la barra de busqueda para los libros -->
    <ion-searchbar color="light" placeholder="Buscar" animated (ionChange)="searchCustomer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf='aviso == "false"'> <!-- De no haber libros de esta categoria, se mostrara este texto -->
    <h3>No hay libros disponibles ahora de esta categoria</h3>
  </ion-item>
  
    <!-- Este modulo lisata los diferentes libros de la categoria elegida en el modulo de categorias -->
  <ion-list *ngFor="let libro of searchLibros">
    <ion-item class="info" [routerLink] = "['/detalle', libro.Pk_Elemento]">

      <div class="miniatura">
        <ion-img src="{{libro.Imagen}}"></ion-img>
      </div>

      <div class="contexto">
        <ion-text>
          <strong>{{libro.Nombre_Elemento}}</strong>
          <sub>{{libro.Autor}}</sub>
          <p class="desc">{{libro.Descripcion}}</p>
        </ion-text>
      </div>

    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>