
ion-toolbar {
  --background: #39A900;
  color: aliceblue;

  .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

    .boton-menu{
      margin-right: 50%;
    }

    .titulo {
      margin: auto;
    }

    .logo {
      grid-column: 3/4;
      margin: auto;
      margin-left: 65%;
      width: 25%;
    }
  }
}

.container {
  padding: 1em;

  ion-card {
    border: 1px solid #87837f !important;

    ion-card-header {
      ion-card-title {
        font-size: 1.2rem;
      }
    }

    ion-card-content{ 
      padding: 2em;
      padding-top: 0;
    }
  }

}