<ion-header>
  <ion-toolbar color="orange" >
      <ion-title class="nombre">{{titulo_cat}}</ion-title>
      <ion-img class="icono" src="../../assets/pictures/logo_orange.svg"></ion-img>
    <ion-back-button slot="start" defaultHref="/categorias"></ion-back-button>
  </ion-toolbar>

  <ion-toolbar > 
    <!-- Esta es una barra de busqueda que por medio de una función filtra los datos pára obtener la información solicitada -->
    <ion-searchbar color="light" placeholder="Buscar" animated (ionChange)="searchCustomer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!---- Este es un mensaje oculto que solo se mostrara en caso de que no hayan libros de esta categoria ----->
  <ion-item *ngIf='aviso == "false"'>
    <h3>No hay libros disponibles ahora de esta categoria</h3>
  </ion-item>
  
    <!-- Este modulo lisata los diferentes libros de la categoria elegida en el modulo de categorias -->
  <ion-list *ngFor="let libro of searchLibros" >
    <ion-item class="info" [routerLink] = "['/detalle', libro.Pk_Elemento]">

      <ion-img  style="width: 40%;" src="{{libro.Imagen}}"></ion-img>

    <ion-item class="subinfo">
      <ion-text style="overflow: initial;">
        <strong>{{libro.Nombre_Elementos}}</strong> <br>
        <sub>{{libro.Autor}}</sub>
        <p class="desc">{{libro.Descripcion}}</p>
      </ion-text>
    </ion-item>

    </ion-item>
  </ion-list>

</ion-content>
