<ion-header>
  <ion-toolbar mode="md">
      <div class="items">
        <ion-back-button mode="md" class="boton-menu" defaultHref="/home"></ion-back-button>
        <ion-title class="titulo">{{titulo_cat}}</ion-title>
        <ion-menu-button menu="main-menu" color="light" class="menu"></ion-menu-button>
      </div>
  </ion-toolbar>
  <ion-toolbar class="search" mode="md">        <!-- Esta es la barra de busqueda para los libros -->
    <ion-searchbar color="light" placeholder="Buscar" animated (ionChange)="searchCustomer($event)"></ion-searchbar>
    <ion-item>
      <ion-select placeholder="Categoria del libro que busca" (ionChange)="filtrarLibros($event)" [interfaceOptions]="header_libros">
        <ion-select-option *ngFor="let cat of categorias" value="{{cat.Pk_Categoria}}" >{{cat.Nombre_Categoria}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #anuncio> <h3 style="padding: 2rem;"> No tenemos libros de esta categoria por ahora, lo sentimos.</h3></div>
  
    <!-- Este modulo lisata los diferentes libros de la categoria elegida en el modulo de categorias -->
  <div class="container">
    <ion-card *ngFor="let libro of searchLibros" class="info" [routerLink] = "['/detalle', libro.Pk_Elemento]">
  
      <ion-card-header>
        <ion-card-subtitle>{{libro.Autor}}</ion-card-subtitle>
        <ion-card-title>{{libro.Nombre_Elemento}}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="miniatura">
        <ion-img src="{{libro.Imagen}}" loading="lazy"></ion-img>
      </ion-card-content>

      <ion-card-content>
        <strong class="desc">{{libro.Descripcion}}</strong>

      </ion-card-content>
  
    </ion-card>
  </div>
</ion-content>