<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <ion-toolbar color="orange" >
    <ion-back-button slot="start" color="light" defaultHref="/home"></ion-back-button>
    <!--<ion-title>computador</ion-title>-->
    <ion-img class="little" src="../../assets/pictures/logo_orange.svg"></ion-img>
    <ion-img class="nombre" src="../../assets/pictures/OrbilText.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Manual de usuario</h1>
  <div>
    <ion-text>Esta Aplicación móvil está diseñada para facilitar la reserva de los elementos de biblioteca como libros, portátiles, proyectores y el propio ambiente de biblioteca a los aprendices, instructores y visitantes de la sede Yamboró, CGDSS. <br><br> Al abrir la app, se desplegará un Splash con el logo y nombre de la aplicación y en la parte inferior el logo del SENA.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/splash.svg" ></ion-img>
    <br>
    <ion-text>Luego del splash la app automáticamente redireccionará al usuario a la vista de inicio de sesión, la cual tendrá una entrada para usuario y otra para contraseña, estos campos deben ser obligatorios y correctamente diligenciados por el usuario. La validación se realizará al presionar el botón de iniciar sesión.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/sesion_check.svg"></ion-img>
    <br>
    <ion-text>en caso de no estar correctamente diligenciados se mostrará un mensaje de alerta indicando que los datos son erróneos.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/sesion_wrong.svg"></ion-img>
    <br>
    <ion-text>Luego de validar los datos de inicio de sesión la app redireccionará al usuario hacia el menú, el cual tambien cuenta con un menu desplegable donde se encuentra un acceso rapido a vistas. en esta vista se muestran los elementos disponibles a reservar en biblioteca dependiendo del rol del usuario.</ion-text>
    <ion-img class="lib" src="../../assets/manual/slide.png"></ion-img>
    <ion-text>
      en caso de que el rol del usuario sea aprendiz, el sistema mostrará sólo las categorías:
      -       libros.
      -       portátiles.
    </ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/menu_aprendiz.svg"></ion-img>
    <br>
    <ion-text>En caso de que el rol del usuario sea instructor, el sistema mostrará todas las categorías, ya que solos los instructores podrán acceder a los elementos.
      -libros.
      -portátiles.
      -proyectores.
      -ambiente de biblioteca.
    </ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/menu_instruc.svg"></ion-img>
    <br>
    <ion-text>En caso de que el rol del usuario sea visitante, podrá reservar únicamente 2 elementos.
      <br>
      -    libros
      <br><br>
      - portátiles
    </ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/menu_aprendiz.svg"></ion-img>
    <br>
    <ion-text>El menú principal muestra las categorías divididas por casillas, cada una tendrá un botón con el nombre de su respectivo elemento. Al presionar uno de los botones la app enviará al usuario a la siguiente vista según la categoría elegida.
      <br><br>
      Si selecciona el botón de reservar un libro, lo enviara a una vista donde los libros están divididos por categorías.
    </ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/categoria.svg"></ion-img>
    <br>
    <ion-text>Al seleccionar la categoría, aparecerán la lista de libros y una barra de búsqueda.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/lista.svg"></ion-img>
    <br>
    <ion-text>Al seleccionar el libro aparecerá el botón para reservarlo.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/detalle.png"></ion-img>
    <br>
    <ion-text>Si selecciona el botón de reservar un proyector, lo enviara a la vista donde se puede reservar un proyector, donde debe seleccionar el proyector, la jornada mañana o tarde, la fecha y el ambiente donde lo va a utilizar.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/proyector.svg"></ion-img>
    <br>
    <ion-text>Si selecciona el botón de reservar el ambiente, lo enviara a la vista donde se puede reservar el ambiente de biblioteca seleccionando la fecha y la jornada mañana o tarde.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/ambiente.png"></ion-img>
    <br>
    <ion-text>Si selecciona el botón de reservar un computador puede reservarlo de una vez, pero si desea sacarlo del ambiente de biblioteca, debe hacerle la solicitud a un instructor para que le autorize e indicar donde va a utilizar el portatil.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/portatil.png"></ion-img>
    <br>
    <ion-text>En el menú desplegable tiene dos vistas donde se puede mirar el historial de pedidos y, si es instructor las peticiones que los aprendices le han hecho.</ion-text>
    <br>
    <ion-img class="lib" src="../../assets/manual/historial.svg"></ion-img>
    <br>
    <ion-img class="lib" src="../../assets/manual/peticiones.svg"></ion-img>
    <br>
  </div>

</ion-content>
