@font-face {
  font-family:orbil_Berlin;
  src: url("../../assets/fonts/BerlinSansFBDemiBold.ttf");
}

$naranja: #ff7f00;

ion-toolbar {
  position: relative;

  .boton-menu {
    float: left;
    position: absolute;
    width: 18%;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%); 
  }
}

ion-content {

  .slider-container {
    overflow: hidden;
    width: 100%;
    height: 40%;
    padding: 0;
    margin: 0;

    .slides {
      padding: 0;
      margin: 0;
      display: flex;
      width: 400%;
      animation: 12s slide_animation infinite alternate;

      ion-img {
        float: left;
        list-style: none;
        margin: 0;
        width: 100%;
        height: auto;
      }
    }

    @keyframes slide_animation {
      0%{margin-left: 0%;}
      25%{margin-left: 0%;}

      25%{margin-left: -100%;}
      50%{margin-left: -100%;}

      50%{margin-left: -200%;}
      75%{margin-left: -200%;}

      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
    }
  }

  .titulo {
    text-align: center;
    font-family: orbil_Berlin;
    //font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1%;
    margin-left: 5%; 
    margin-right: 5%;
  }

  .bienvenida {
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 8%;
    margin-left: 5%; 
    margin-right: 5%;
  }
  
  .buttons {
    width: auto;
    height: 50%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%;

    ion-card {
      float: left;
      position: relative;
      text-align: center;
      border: 1.5px solid #87837f !important;
      box-shadow: 4px 4px 20px #87837f ;
      font-family: orbil_Berlin;
      font-size: 100%;
      width: 40%;
      padding: 1%;

      ion-card-header {
        height: 100px ;
        
        ion-img{
          width: 60%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .libro {
          width: 42%;
        }
      }

      ion-card-content{
        margin: 2%;
        background-color: #428cff !important;
        color: aliceblue !important;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 6%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }

    }
  }

  .fab-button {
    position: absolute;
    position: fixed;
    border-radius: 50%;
    box-shadow: 4px 4px 20px #87837f ;
    top: 85%;
    left: 75%;
  }
}