<ion-content>

    <div class="slider-container">
      <div class="slides">
          <ion-img src="../../assets/other/DSC_4615.JPG"></ion-img>
          <ion-img src="../../assets/other/DSC_4633.JPG"></ion-img>
          <ion-img src="../../assets/other/DSC_4709.JPG"></ion-img>
          <ion-img src="../../assets/other/DSC_4564.JPG"></ion-img>
      </div>
    </div>

    <div class="titulo"> <p> Hola {{usuario}} bienvenido a Orbil</p> </div> 
  
    <div class="bienvenida">
      <p>En este aplicativo contara con la capacidad de reservar algunos de los 
        diferentes elementos que se encuentran en el ambiente de biblioteca por el momento.
      </p>
    </div>
  
    <div class="buttons">
      <ion-card mode="ios" [routerLink]="['/computador']">
        <ion-card-header>
          <ion-img class="portatil" src="../assets/pictures/img_portatil.svg"></ion-img> 
        </ion-card-header>
        <ion-card-content> Portatiles </ion-card-content>
      </ion-card>
      
      <ion-card mode="ios" [routerLink]="['/categorias']">
        <ion-card-header>
          <ion-img class="libro" src="../assets/pictures/libro.svg"></ion-img> 
        </ion-card-header>
        <ion-card-content> Libros </ion-card-content>
      </ion-card>

      <!-- Esta directiva valida que tipo de usuario accedio, si fue instructir o administrativo deja ver su contenido, si no, lo esconde -->
      <ion-card mode="ios" [routerLink]="['/proyector']" *ngIf='permiso == true'>
        <ion-card-header>
          <ion-img class="proyector" src="../assets/pictures/proyector.svg"></ion-img> 
        </ion-card-header>
        <ion-card-content> Proyector </ion-card-content>
      </ion-card>

      <!-- Esta directiva valida que tipo de usuario accedio, si fue instructir o administrativo deja ver su contenido, si no, lo esconde -->
      <ion-card mode="ios" [routerLink]="['/ambiente']" *ngIf='permiso == true'>
        <ion-card-header>
          <ion-img class="ambiente" src="../assets/pictures/ambiente.svg"></ion-img> 
        </ion-card-header>
        <ion-card-content> Ambiente </ion-card-content>
      </ion-card>
    </div>

  <div class="call-menu"><ion-menu-button menu="main-menu" color="light"></ion-menu-button></div>

</ion-content>