<ion-header>
  <ion-toolbar color="orange" >
    <div class="boton-menu"><ion-menu-button menu="main-menu" color="light"></ion-menu-button></div>
    <ion-img class="nombre"  src="../assets/pictures/OrbilText.svg"></ion-img>
    <ion-img class="logo" src="../assets/pictures/logo_orange.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
   <br>
    <div class="titulo">
      <p> Hola {{usuario}} espero estes teniendo buen día</p>
    </div> 
  
    <div class="bienvenida">
      <p>En este aplicativo contara con la capacidad de reservar algunos de los 
        diferentes elementos que se encuentran en el ambiente de biblioteca por el momento.
      </p>
    </div>
  
    <div class="buttons">
      <ion-button type="submit" fill="solid" strong="strong" color="orange"  fill="outline" [routerLink]="['/computador']">
        Portatiles
        <ion-img class="portatil" src="../assets/pictures/img_portatil.svg"></ion-img>
      </ion-button>

      <ion-button type="submit" fill="solid" strong="strong" color="orange" fill="outline" [routerLink]="['/categorias']">
        Libros
        <div class="libro">
          <ion-img  src="../assets/pictures/libro.svg"></ion-img>
        </div>
      </ion-button>

        <!-- Esta directiva valida que tipo de usuario accedio, si fue instructir o administrativo deja ver su contenido, si no, lo esconde -->
      <ion-button *ngIf='permiso == true' type="submit" fill="solid" strong="strong" color="orange" fill="outline" [routerLink]="['/proyector']">
        Proyectores
        <ion-img class="proyector" src="../assets/pictures/proyector.svg"></ion-img>
      </ion-button>
        <!-- Esta directiva valida que tipo de usuario accedio, si fue instructir o administrativo deja ver su contenido, si no, lo esconde -->
      <ion-button *ngIf='permiso == true' type="submit" fill="solid" strong="strong" color="orange" fill="outline" [routerLink]="['/ambiente']">
        Biblioteca
        <ion-img class="ambiente" src="../assets/pictures/ambiente.svg"></ion-img>
      </ion-button>
    </div>
</ion-content>