@font-face {
  font-family: orbil_Berlin;
  src: url("../../assets/fonts/BerlinSansFBDemiBold.ttf");
}

$naranja: #ff7f00;

.sidebar-button {
  position: absolute;
  position: fixed;
  background-color: #39a900;
  box-shadow: 2px 2px 10px #87837f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 2%;
  right: 5%;
}

ion-content {
  .slider-container {
    overflow: hidden;
    width: 100vw;
    height: 25vh;
    padding: 0;
    margin: 0;

    .slides {
      padding: 0;
      margin: 0;
      display: flex;
      width: 400%;
      animation: 12s slide_animation infinite alternate;

      ion-img {
        float: left;
        list-style: none;
        margin: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  .bienvenida-titulo {
    text-align: center;
    font-family: orbil_Berlin;
  }

  .bienvenida-mensaje {
    padding: 0 1.3rem 0 1.3rem;
    text-align: justify;
  }

  .modulos-content {
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    height: auto;
    margin: auto 1vw 5% 1vw;

    ion-card {
      width: 46vw;
      padding: 1%;
      text-align: center;
      margin: 7% auto auto auto;
      font-size: 1rem;
      font-family: orbil_Berlin;
      box-shadow: 3px 3px 13px #87837f;
      
      ion-card-header {
        height: 100%;
        display: grid;

        ion-img {
          width: 60%;
          margin: auto;
        }

      }

      ion-card-content {
        background-color: #39a900 !important;
        color: aliceblue !important;
        text-align: center;
        padding: .5rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}

@keyframes slide_animation {
  0% {
    margin-left: 0%;
  }
  25% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  50% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  75% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
